
<div class="container-fluid">
  <div class="row">
    <div class="col-2 menu pt-3" *ngIf="userService.user">

      <div class="list-group">
          <a routerLink='/list' class="list-group-item list-group-item-action" routerLinkActive="active">
            Vendas
          </a>
          <a routerLink='/add' class="list-group-item list-group-item-action" routerLinkActive="active">
            Adicionar vendas
          </a>
          <a (click)="logoff()" class="list-group-item list-group-item-action" routerLinkActive="active">
            Sair
          </a>

      </div>

    </div>
    <div [ngClass]="{'col-10': userService.user, 'col-12': !userService.user}">
      <!--<app-list></app-list>-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<!--
  <div style="text-align:center">

<ngx-loading-bar></ngx-loading-bar>
<h1>
  Welcome to {{ title }}!
</h1>
<img width="300" alt="" src="assets/chamber-logo.png">
</div>
-->
